.admin-layout {
  height: 100vh;
}

.admin-content {
  padding: 24px;
  background: #e9f0f7;
  height: calc(100vh - 64px);
  overflow-y: auto;
}


@media (max-width: 900px) {
  .admin-layout {
    height: auto;
  }

  .admin-content {
    padding: 16px;
    height: auto;
    min-height: calc(100vh - 64px);
  }
}