.passportapps-management-card {
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(48, 87, 151, 0.1);
}

.passportapplications-actions {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.passportapplications-export {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.passportapplications-archive {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.viewbutton-passport-application {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 85px;
    height: 30px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.viewbutton-passport-application:hover,
.passportapplications-export:hover,
.passportapplications-archive:hover {
    background-color: #e9e9e9 !important;
    color: #305797 !important;
}

.passportapplications-archive-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #992A46;
    color: #fff;
    border-radius: 10px;
    width: 110px;
    height: 30px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.passportapplications-archive-button:hover {
    background-color: #e9e9e9 !important;
    color: #992A46 !important;
}


.passportapplications-restore-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #1f8f3a;
    color: #fff;
    border-radius: 10px;
    width: 85px;
    height: 30px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.passportapplications-restore-button:hover {
    background-color: #e9e9e9 !important;
    color: #1f8f3a !important;
}