.viewpassportapplication-back-button {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(48, 87, 151, 0.25);
}