.viewpassportapplication-back-button {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(48, 87, 151, 0.25);
}

.viewpassportapplication-submit-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.viewpassportapplication-download-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
    margin-top: 7px;
}

.viewpassportapplication-submitdocu-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 320px;
    height: 35px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
    margin-top: 7px;
}

.viewpassportapplication-dfa-processing-approve-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #1f8f3a;
    color: #fff;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
    margin-top: 7px;
}

.viewpassportapplication-dfa-processing-reject-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #992A46;
    color: #fff;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
    margin-top: 7px;
}

.viewpassportapplication-dfa-processing-approve-button:hover {
    background-color: #e9e9e9 !important;
    color: #1f8f3a !important;
}

.viewpassportapplication-dfa-processing-reject-button:hover {
    background-color: #e9e9e9 !important;
    color: #992A46 !important;
}

.viewpassportapplication-back-button:hover,
.viewpassportapplication-submit-button:hover,
.viewpassportapplication-download-button:hover,
.viewvisaapplication-submitdocu-button:hover {
    background-color: #e9e9e9 !important;
    color: #305797 !important;
}