@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.admin-layout {
  height: 100vh;
}

.admin-content {
  padding: 24px;
  background: #f4f6fb;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.ant-menu-item,
.ant-menu-item a {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.25) !important;
  min-height: calc(100vh - 64px);
}