@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html,
body {
    background-color: #F5F8FF;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
    scroll-behavior: smooth;
    margin: 0;
}

.landing-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    width: 100%;
    position: relative;
}

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-section {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #555;
}

.logo-img {
    height: 50px;
    width: 50px;
    margin-right: 25px;
    margin-bottom: 5px;
}

.logo-section span {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.nav-links Button {
    background: none;
    border: none;
    font-weight: bold;
    color: #0056b3;
    cursor: pointer;
    margin-left: 20px;
    font-size: 16px;
}

.landing-label-links {
    font-size: 18px;
    font-weight: 600;
    color: #305797;
    margin-top: 3px;
}

.landing-button-links {
    font-size: 18px;
    font-weight: 600;
    color: #992A46;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 22px;
}

.landing-button-links:hover {
    text-decoration: underline;
    color: #992A46 !important;
    border-width: 0px !important;
}

.user-name-link {
    font-size: 18px;
    font-weight: 600;
    color: #305797;
}

.user-name-link:hover {
    text-decoration: underline;
    color: #992A46 !important;
    border-width: 0px !important;
}

.ant-dropdown {
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown-space {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.user-dropdown-icon {
    margin-bottom: 10px !important;
}

.username-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.username-dropdown {
    font-family: "Montserrat", sans-serif;
    color: #305797;
    margin-left: 5px;
}

.user-dropdown-button {
    margin-left: 30px;
}

.hero-section {
    position: relative;
    height: 600px;
    background-image: url('/public/images/LandingPage_Banner.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.hero-content {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.hero-content h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    max-width: 700px;
    margin: 0 auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.search-widget {
    position: absolute;
    bottom: -60px;
    background: white;
    width: 80%;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-row {
    display: flex;
    gap: 10px;
}

.search-input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.search-btn {
    background-color: #2E5994;
    border: none;
    padding: 0 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.filter-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.filter-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eee;
    padding-right: 20px;
}

.filter-group:last-child {
    border-right: none;
}

.filter-group label {
    font-size: 12px;
    font-weight: bold;
    color: #888;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.filter-select {
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    width: 100%;
    cursor: pointer;
    background: transparent;
}

.budget-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.budget-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    color: #0056b3;
    margin-bottom: 5px;
}

.budget-slider {
    width: 100%;
    cursor: pointer;
}

.page-link-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 50px;
    gap: 130px;
}

.page-link-buttons {
    margin: 0 20px;
    font-weight: bold;
    font-size: 24px;
    color: #0056b3;
    text-decoration: none;
}

.page-link-buttons:hover {
    color: #0056b3 !important;
}

.hero-section-packages {
    position: relative;
    height: 600px;
    background-image: url('/public/images/LandingPage2_Banner.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-overlay-packages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.hero-content-packages {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.hero-content-packages h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content-packages p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    max-width: 1200px;
    margin: 0 auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.packages-button {
    color: #0056b3 !important;
    background-color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
    border-radius: 30px;
    border-width: 3px;
    border-color: #0056b3;
    height: 65px;
    width: 500px;
}

.packages-button:hover {
    background-color: #0056b3 !important;
    color: #fff !important;
    border-radius: 30px !important;
    border-width: 3px !important;
    border-color: #0056b3 !important;
}

.popular-packages-text {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #000000;
    margin: 40px;
}

.popular-packages {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 40px;
}

.explore-container {
    display: flex;
    flex-direction: row;
}

.explore-text {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #000000;
    margin-left: 40px;
    margin-bottom: 20px;
}

.explore-local-packages-section {
    display: flex;
    flex-direction: column;
}

.explore-local-packages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.explore-local-packages-section-right img {
    height: 640px;
    width: 475px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 60px;
    border-radius: 20px;
}

.explore-local-packages-section-right Button {
    color: #0056b3 !important;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    border-width: 3px;
    border-color: #0056b3;
    height: 50px;
    width: 200px;
    margin-top: 15px;
    margin-left: 40px;
}

.explore-local-packages-section-right Button:hover {
    background-color: #0056b3 !important;
    color: #fff !important;
    border-radius: 30px !important;
    border-width: 3px !important;
    border-color: #0056b3 !important;
}

.explore-world-section {
    display: flex;
    flex-direction: row;
}

.explore-world-text {
    margin-left: 40px;
    margin-top: 0;
}

.explore-world-text-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.explore-world-text-description {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-align: justify;
    margin-right: 40px;
}