@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    overflow: hidden;
    background-color: #fffafa;
}

.newpassword-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 55px;
    font-weight: 600;
    color: #305797;
    line-height: .5;
    width: 550px;
}

.newpassword-secondary-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #305797;
    margin-top: 0px;
    line-height: .5;
    width: 550px;
}

.newpassword-page-container {
    background-color: #F5F8FF;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.newpassword-right-side {
    height: 100%;
    width: 40%;
    background-image: url('/public/images/ResetPassword_Banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.newpassword-left-side {
    width: 60%;
    background-color: #F5F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.newpassword-input-fields {
    width: 555px;
    height: 60px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}

.newpassword-input-fields:hover {
    border-color: #305797;
    border-width: 2px;
}

.newpassword-input-fields:focus-within {
    border-color: #305797 !important;
    border-width: 2px !important;
}

.ant-input-status-error {
    border-width: 2px !important;
}

.newpassword-labels {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #305797;
}

.div-input-fields {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#newpassword-links-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 120px;
    margin-top: 5px;
}

.newpassword-label-links {
    font-size: 18px;
    font-weight: 600;
    color: #305797;
}

.newpassword-button-links {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 4px;
    color: #305797;
}

.newpassword-button-links:hover {
    text-decoration: underline;
    color: #992A46 !important;
}

#newpassword-button {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #305797;
    color: #FFF;
    width: 240px;
    height: 50px;
    margin-top: 40px;
}

#newpassword-button:hover {
    background-color: #e9e9e9;
    color: #305797;
}

#div-image-banner {
    margin-left: 500px;
    overflow: hidden;
}

#image-banner {
    width: 650px;
    height: 730px;
}

#error-message {
    color: #ff0000;
    width: 500px;
    height: 10px;
    margin-top: 5px;
}