.passportapplication-back-button {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(48, 87, 151, 0.25);
}

.passportapplication-submit-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.passportapplication-uploadreceipt-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.passportapplication-upload-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 220px;
    height: 30px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}

.visaapplication-submit-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 220px;
    height: 40px;
    border: none !important;
    box-shadow: 0 8px 20px rgba(153, 42, 70, 0.25);
}


.passportapplication-back-button:hover,
.passportapplication-upload-button:hover,
.passportapplication-uploadreceipt-button:hover,
.passportapplication-submit-button:hover,
.visaapplication-submit-button:hover {
    background-color: #e9e9e9 !important;
    color: #305797 !important;
}