.display-invoice-modal .ant-modal-content {
    border-radius: 12px;
    padding: 2px;
}

.display-invoice-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.display-invoice-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.display-invoice-title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #1f2a44;
    margin: 0;
    text-align: left;
}

.display-invoice-subtitle {
    text-align: left;
    color: #555;
}

.display-invoice-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.display-invoice-proceed {
    background-color: #fff !important;
    color: #305797 !important;
    border-radius: 16px;
    border: solid 1px #305797 !important;
    font-weight: 600;
    height: 40px;
    padding: 0 16px;
}

.display-invoice-proceed:hover {
    background-color: #244575 !important;
    color: #fff !important;
}

.display-invoice-cancel {
    background-color: #fff !important;
    color: #992A46 !important;
    border-radius: 16px;
    border: solid 1px #992A46 !important;
    font-weight: 600;
    height: 40px;
    padding: 0 16px;
}

.display-invoice-cancel:hover {
    background-color: #7D2239 !important;
    color: #fff !important;
}