@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100% !important;
    padding-right: 0px !important;
    overflow-y: auto !important;
}

.login-modal .ant-modal {
    max-width: 100vw !important;
    width: 100% !important;
    padding: 0 !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.login-modal .ant-modal-content,
.login-modal .ant-modal-body {
    padding: 0 !important;
    overflow: hidden !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.login-modal .ant-modal-container {
    padding: 0 !important;
}

.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: none;
    margin: none;
}

.login-container-otp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 575px;
    padding: 0px;
}

.login-container-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 0px;
}

.login-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 490px;
    height: 610px;
}

.login-container-left-image {
    padding: 0;
    min-width: 490px;
    min-height: 610px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.login-container-right {
    padding: 20px;
}


#login-heading-modal {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #305797;
    line-height: 10px;
    width: 100%;
    max-width: 550px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#login-secondary-heading-modal {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #305797;
    margin-top: 3px;
    margin-bottom: 20px;
    line-height: 5px;
    width: 100%;
    max-width: 550px;
}

.login-input-fields-modal {
    width: 100%;
    height: 35px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}

.login-input-fields-modal.ant-input-password,
.login-input-fields-modal.ant-input-affix-wrapper {
    height: 35px;
    align-items: center;
}

.login-input-fields-modal.ant-input-password .ant-input,
.login-input-fields-modal.ant-input-affix-wrapper .ant-input {
    height: 35px;
    line-height: 35px;
    font-size: 13px;
}

.login-input-fields-modal:hover {
    border-color: #305797;
    border-width: 1px;
}

.login-input-fields-modal:focus-within {
    border-color: #305797 !important;
    border-width: 1px !important;
}

.ant-input-password input {
    width: 100%;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}

.ant-input-status-error {
    border-width: 1px !important;
}

.login-labels-modal {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #305797;
}

.login-div-input-fields-modal {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#login-links-container-modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: normal;
    margin-left: 20px;
    gap: 30px;
}

.login-label-links-modal {
    font-size: 13px;
    font-weight: 600;
    color: #305797;
}

.login-button-links-modal {
    font-size: 13px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 0px;
    padding-left: 4px;
    margin-right: 5px;
    color: #305797;
    border: none !important;
}

.login-otp-button-links-modal {
    font-size: 13px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 0px;
    padding-left: 4px;
    margin-right: 5px;
    color: #305797;
    border: none !important;
}

.login-button-links-modal:hover,
.login-otp-button-links-modal:hover {
    text-decoration: underline;
    color: #992A46 !important;
    border: "none" !important;
}

.login-button-links-modal.ant-btn {
    border: none !important;
}

.login-button-links-modal.ant-btn:hover,
.login-button-links-modal.ant-btn:focus {
    border: none !important;
    box-shadow: none !important;
}

#login-button-modal {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    border: none;
    box-shadow: 0 8px 20px rgba(48, 87, 151, 0.25);
    margin-top: 40px;
    margin-bottom: 20px;
}

#login-button-modal:hover {
    background-color: #e9e9e9;
    color: #305797;
}

#login-button-modal,
#login-heading-modal,
#login-secondary-heading-modal,
#login-error-message-modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#login-error-message-modal {
    color: #ff0000;
    width: 100%;
    height: 10px;
    font-size: 10px;
    text-align: left;
    margin-left: 20px;
}

.app-loading-spin .ant-spin-dot-item {
    background-color: #305797;
}

.app-loading-spin .ant-spin-text {
    color: #305797;
}

.app-loading-spin .ant-spin-tip {
    color: #305797;
}

.app-loading-spin .ant-spin-description {
    color: #305797;
}


/* OTP MODAL */
.login-otp-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-otp-container-modal {
    margin: 40px;
    width: 600px;
}

.login-otp-heading-modal {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #305797;
    line-height: 10px;
    width: 350px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.login-otp-secondary-heading-modal {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #305797;
    margin-top: 3px;
    margin-bottom: 40px;
    line-height: 5px;
    width: 420px;
}

.ant-otp input {
    width: 60px;
    height: 70px;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
}

.ant-otp input:hover {
    border-color: #305797 !important;
    border-width: 2px !important;
}

.ant-otp input:focus {
    border-color: #305797 !important;
    border-width: 2px !important;
}


#submit-otp-button {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #305797;
    color: #fff;
    border-radius: 10px;
    width: 220px;
    height: 40px;
    border: none;
    box-shadow: 0 8px 20px rgba(48, 87, 151, 0.25);
    margin-bottom: 20px;
}

#submit-otp-button:hover {
    background-color: #e9e9e9;
    color: #305797;
}

#footer-text-modal {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #305797;
    width: 100%;
    max-width: 550px;
}

#submit-otp-button,
#footer-text-modal,
.login-otp-heading-modal,
.login-otp-secondary-heading-modal,
.label-links-modal,
#error-message-modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ant-otp {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#error-message-modal {
    color: #ff0000;
    width: 100%;
    max-width: 500px;
    height: 15px;
}


@media (max-width: 1024px) {

    .login-otp-modal {
        max-width: 580px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-otp-container-modal {
        width: 100%;
        max-width: 500px;
        margin: 20px;
    }

    .login-otp-heading-modal {
        width: 100%;
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 18px;
    }

    .login-otp-secondary-heading-modal {
        width: 100%;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .login-container-modal {
        flex-direction: column;
        min-width: 620px;
        padding: 0 12px;
    }

    #login-heading-modal {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 5px;
    }

    #login-secondary-heading-modal {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .login-input-fields-modal,
    .ant-input-password input {
        height: 35px;
        font-size: 12px;
    }

    .login-container-left {
        display: none;
    }

    #login-links-container-modal {
        margin-left: 0;
        justify-content: center;
    }

    #login-button-modal {
        width: 100%;
        max-width: 280px;
    }
}

@media (max-width: 768px) {

    .login-otp-heading-modal {
        width: 100%;
        font-size: 30px;
    }

    .login-otp-secondary-heading-modal {
        width: 100%;
        font-size: 18px;
    }

    .login-container-modal {
        flex-direction: column;
        min-width: 420px;
        padding: 0 12px;
    }

    #login-heading-modal {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 18px;
    }

    #login-secondary-heading-modal {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .login-input-fields-modal,
    .ant-input-password input {
        height: 35px;
        font-size: 12px;
    }

    .login-container-left {
        display: none;
    }

    #login-links-container-modal {
        margin-left: 0;
        justify-content: center;
    }

    #login-button-modal {
        width: 100%;
        max-width: 280px;
    }
}


@media (max-width: 600px) {

    .login-otp-modal {
        width: 100% !important;
        max-width: 480px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-otp-container-modal {
        width: 100%;
        max-width: 400px;
        margin: 20px;
    }

    .login-otp-heading-modal {
        width: 100%;
        font-size: 30px;
    }

    .login-otp-secondary-heading-modal {
        width: 100%;
        font-size: 18px;
    }

    #footer-text-modal {
        font-size: 14px;
    }

    .login-otp-button-links-modal {
        font-size: 10px;
    }


    .login-container-modal {
        flex-direction: column;
        min-width: 420px;
        padding: 0 12px;
    }

    #login-heading-modal {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 18px;
    }

    #login-secondary-heading-modal {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .login-input-fields-modal,
    .ant-input-password input {
        height: 35px;
        font-size: 12px;
    }

    .login-container-left {
        display: none;
    }
}


@media (max-width: 480px) {

    .login-otp-modal {
        max-width: 400px !important;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-otp-container-modal {
        width: 100%;
        max-width: 280px;
        margin: 20px;
    }

    .login-otp-heading-modal {
        width: 100%;
        font-size: 30px;
    }

    .login-otp-secondary-heading-modal {
        width: 100%;
        font-size: 18px;
    }

    #footer-text-modal {
        font-size: 14px;
    }

    .login-otp-button-links-modal {
        font-size: 10px;
    }

    .ant-modal-body,
    .ant-modal-container {
        margin: 10px !important;
    }

    .login-container-modal {
        padding: 0 12px;
        margin: 20px;
        min-width: 280px;
    }

    .login-input-fields-modal {
        height: 35px;
        font-size: 12px;
    }

    .ant-input-password input {
        width: 100%;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
    }

    #login-heading-modal {
        font-size: 30px;
    }

    #login-secondary-heading-modal {
        font-size: 18px;
    }

    .login-labels-modal,
    .login-button-links-modal,
    .login-label-links-modal {
        font-size: 10px;
    }

    #login-links-container-modal {
        margin-left: 0;
        justify-content: center;
        gap: 0px;
        margin-bottom: 0px;
    }

    #login-button-modal {
        max-height: 45px;
        width: 100%;
        max-width: 280px;
    }
}