.payment-methods-modal .ant-modal-content {
    border-radius: 12px;
    padding: 24px;
}


.payment-methods-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-methods-title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #1f2a44;
    margin: 0;
    text-align: center;
}

.payment-methods-subtitle {
    text-align: center;
    color: #555;
}

.payment-methods-radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

.payment-methods-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.payment-methods-proceed {
    background-color: #fff !important;
    color: #305797 !important;
    border-radius: 10px;
    border: solid 1px #305797 !important;
    font-weight: 600;
    height: 40px;
    padding: 0 16px;
}

.payment-methods-proceed:hover {
    background-color: #305797 !important;
    color: #fff !important;
}

.payment-methods-cancel {
    background-color: #fff !important;
    color: #992A46 !important;
    border-radius: 10px;
    border: solid 1px #992A46 !important;
    font-weight: 600;
    height: 40px;
    padding: 0 16px;
}

.payment-methods-cancel:hover {
    background-color: #992A46 !important;
    color: #fff !important;
}

.payment-methods-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.payment-card {
    border: 2px solid #e5e7eb;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
}

.payment-card:hover {
    border-color: #305797;
}

.payment-card.selected {
    border-color: #305797;
    background: #fff;
}

.payment-card h3 {
    margin: 0;
    font-size: 16px;
}

.payment-card p {
    margin: 4px 0 0;
    font-size: 13px;
    color: #666;
}

/* hide default radio circle */
.payment-card .ant-radio {
    display: none;
}